<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>rating</title>
    <script type="text/javascript" src="../../angular-1.2.29/angular.js"></script>
    <script type="text/javascript" src="rating.js"></script>
    <style type="text/css">
        .changeable:hover {
            cursor: pointer;
        }
    </style>
</head>

<body ng-app='app' style="margin: 50px;">
    <a href="../index.html">戻る</a>
    <h1>rating</h1>

    <input type="number" ng-model="rate" integer min="0" max="10">
    <rating ng-model="rate" max="10"></rating>

</body>

</html>
