<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" type="text/css" href="dist/styles/app.css">
</head>

<body>
    <h1>ToDo</h1>
    <div ng-app="app">
        <div ng-controller="todoController as c">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <form name="todoForm" novalidate>
                        <div class="input-group">
                            <input type="text" name="todoInput" class="form-control" ng-model="c.message" placeholder="ToDo ..." required/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="c.addTodoItem(c.message)" ng-disabled="todoForm.todoInput.$error.required">Add</button>
                                <priority ng-model="stars"></priority>
                            </span>
                        </div>
                    </form>
                </header>
                <todo-list class="list-group">
                    <todo-item ng-repeat="todoItem in c.todoItems"></todo-item>
                </todo-list>
                <footer class="panel-footer">
                    <span class="badge">{{c.remaining()}} / {{c.todoItems.length}}</span> Items left
                </footer>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="dist/scripts/app.js"></script>
</body>

</html>
