<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="dist/Main.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/main.css" />
</head>

<body>
    <h1>ToDoアプリ</h1>
    <div ng-app="app">
        <div ng-controller="todoController">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="message" placeholder="ToDo ..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addTodoItem(message)">Add</button>
                        </span>
                    </div>
                </header>
                <todo-list class="list-group">
                    <!-- [1] -->
                    <todo-item todo="todoItem" ng-repeat="todoItem in todoItems"></todo-item>
                </todo-list>
                <footer class="panel-footer">
                    <span class="badge">{{remaining()}} / {{todoItems.length}}</span> Items left
                </footer>
            </section>
        </div>
    </div>

    <!-- #2. リスト部分をまるごとディレクティブ化する
    <div ng-app="app">
        <div ng-controller="todoController">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <form name="todoForm">
                        <div class="input-group">
                            <input name="todo" type="text" class="form-control" ng-model="message" placeholder="ToDo ..." / required>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="addTodoItem(message)" ng-disabled="todoForm.todo.$error.required">Add</button>
                            </span>
                        </div>
                    </form>
                </header>
                <todo-list todo-items="todoItems"></todo-list>
                <footer class="panel-footer">
                    <span class="badge">{{remaining()}} / {{todoItems.length}}</span> Items left
                </footer>
            </section>
        </div>
    </div>
    -->


    <!-- #1. コントローラと HTML 要素だけのシンプルな構成
    <div ng-app="app">
        <div ng-controller="todoController">
            <section class="panel panel-default">
                <header class="panel-hedding">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="message" placeholder="ToDo ..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addToDoItem(message)">Add</button>
                        </span>
                    </div>
                </header>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="todoItem in todoItems">
                        <div class="list-group-item-inner">
                            <div class="item-wrapper">
                                <input type="checkbox" ng-model="todoItem.done" />
                            </div>
                            <label class="done-{{todoItem.done}}" ng-dblclick="updateTodoItem(todoItem)">{{todoItem.message}}</label>
                            <div class="item-wrapper">
                                <button class="btn btn-danger btn-xs" ng-click="removeTodoItem(todoItem.id)">&times;</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <footer class="panel-footer">
                    <span class="badge">{{remaining()}} / {{todoItems.length}}</span> Items left
                </footer>
            </section>
        </div>
    </div>
    -->
</body>

</html>
