<div class="list-group-item">
    <div class="list-group-item-inner" ng-hide="isEditMode">
        <div class="item-wrapper">
            <input type="checkbox" ng-model="todo.done" />
        </div>
        <label class="done-{{todo.done}}" ng-dblclick="startEdit(todo)">{{todo.message}}</label>
        <div class="item-wrapper">
            <button class="btn btn-danger btn-xs" ng-click="delete(todo)">&times;</button>
        </div>
    </div>
    <div ng-show="isEditMode">
        <input ng-model="todo.message" class="form-control input-sm" todo-focus ng-blur="updateTodoItem($event)" ng-keyup="updateTodoItem($event)" />
    </div>
</div>
