<ul class="list-group">
    <li class="list-group-item" ng-repeat="todoItem in todoItems">
        <div class="list-group-item-inner">
            <div class="item-wrapper">
                <input type="checkbox" ng-model="todoItem.done">
            </div>
            <label class="done-{{todoItem.done}}" ng-dblclick="update($event, todoItem)">{{todoItem.message}}</label>
            <div class="item-wrapper">
                <button class="btn btn-xs btn-danger" ng-click="delete($event, todoItem.id)">&times;</button>
            </div>
        </div>
    </li>
</ul>
