doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title TODO App
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="dist/style.css")
  body
    // ここにhtmlを書く
    script(src="node_modules/angular/angular.js")
    script(src="dist/app.js")
