<div class="list-group-item">
    <div class="list-group-item-inner done-{{todoItem.done}}" ng-hide="isEditMode">
        <div class="item-wrapper">
            <input type="checkbox" ng-model="todoItem.done" />
        </div>
        <label ng-dblclick="startEdit(todoItem.id)">{{todoItem.message}}</label>
        <span class="label label-{{todoItem.priority.c}} label-done-{{todoItem.done}}" ng-dblclick="startEdit(todoItem.id)">{{todoItem.priority.p}}</span>
        <div class="item-wrapper">
            <button class="btn btn-danger btn-sm" ng-click="removeTodoItem(todoItem.id)">&times;</button>
        </div>
    </div>
    <div ng-show="isEditMode">
        <form name="todoEditForm" novalidate>
            <div class="input-group input-group-lg">
                <input type="text" name="todoEdit" class="form-control" ng-model="todoItem.message" ng-blur="updateTodoItem($event, todoItem)" ng-keyup="updateTodoItem($event, todoItem)" placeholder="ToDo ..." />
                <div class="input-group-addon">
                    <select ng-model="todoItem.priority" ng-options="pr.p for pr in c.priorities" novalidate=""></select>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateTodoItem($event, todoItem)">Update</button>
                </span>
            </div>
        </form>
    </div>
</div>
