/* Import libraries */
@import "../../bootstrap-sass/assets/stylesheets/bootstrap";

/* Variables */
$theme-primary: #DB1E21;
$done: gray;

/* Scaffoldings */
body {
    width: 960px;
    margin: 0 auto;
}

.filter-switch {
    width: 320px;
    float: left;
}

.filter {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.input-group {
    width: 100%;
    margin: 10px auto;
}

.footer-btn-group {
    margin-left: auto;
    margin-top: 10px;
    text-align: right;
}

.text-primary {
    color: $theme-primary;
}

.select-box {
    width: 100px;
    padding-left: 10px;
}

.date-box {
    width: 100px;
}

.todo-option {
    width: 320px;
    margin-left: auto;
    margin-top: 10px;
    text-align: right;
}

/* ToDo */
.panel-body {
    font-size: 18px;
    text-align: center;
}

.done-true {
    text-decoration: line-through;
    color: $done;
    font-style: italic;
}

.list-group-item-inner {
    display: flex;

    label {
        font-size: 18px;
        width: 100%;
        padding: 0 15px;
    }
}

.item-wrapper {
    * {
        vertical-align: sub;
    }
}

.label {
    margin: 0 20px;
    font-size: 18px;
}

.label-done-true {
    background-color: $done;
}
