/* Import libraries */
@import "../../bootstrap-sass/assets/stylesheets/bootstrap";

/* Variables */
$theme-primary: #DB1E21;
$done: gray;

/* Scaffoldings */
body {
    margin: 50px;
}
.text-primary {
    color: $theme-primary;
}

/* ToDo */
.panel-body {
    font-size: 18px;
}

.done-true {
    text-decoration: line-through;
    color: $done;
    font-style: italic;
}

.list-group-item-inner {
    display: flex;

    label {
        font-size: 18px;
        width: 100%;
        padding: 0 15px;
    }
}

.item-wrapper {
    * {
        vertical-align: sub;
    }
}

.label {
    margin: 0 20px;
    font-size: 18px;
}

.label-done-true {
    background-color: $done;
}
